* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #8e9eab; 
    background: linear-gradient(to right, #e0eef1, #8e9eab);
}

h1{
    text-align: center;
    font-size: 2.5em;
    margin-top: 1em;
  
}

.container{
    border: 2px solid gray;
    background-color: #ffff;
    padding: 1.5em;
    border-radius: 1em;
    border: 1px solid #f8f8ff;
    margin-top: 1em;
}

button{
    width: 70px;
    height: 60px;
    margin: 5px;
    border-radius: 10%;
    font-size: 23px;
    border: none;
   box-shadow: 2px 2px 2px #aaa9a9;
}

button:hover{
    cursor: pointer;
    background-color: #DBDBDB;
}

section input{
    width: 100%;
    border: 0.5px solid #DBDBDB;
    margin: 10px 0 10px 0;
    padding: 2em;
    border-radius: 1em;
}

.clear{
    width: 45.5%;
}

.delete,.clear{
    color: #2384bd;
}


@media all and (max-width: 600px){
    .container{
        margin: 0;
        float: left;
        width: 100%;
        height: 100%;
        padding: 1em;
        margin-top: 1em;
    }

    button{
        font-size: 20px;
        width: 60px;
        height: 50px;
    }

   
}